/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  background: url("../assets/battle_spaceship.jpg") no-repeat center center fixed;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 516px) {
  .tablescroll {
    height: 200px;
    overflow: scroll;
  }
  .table-display {
    color: white !important;
    font-weight: bold;
    width: auto;
  }
  .window-width {
    width: auto !important;
  }
}
.cover-container {
  
  height: 100%;
}

.display-container {
  background-color: RGBA(248,249,250,var(--bs-bg-opacity,0.5))!important;
  color: white !important;
  font-weight: bold;
  font-size: large;
}

.table-display {
  color: white !important;
  font-weight: bold;
  width: auto;
}
.column-width {
  text-align:center;
  padding:5px;
  border-collapse: separate;
  border-spacing:20px 0px;
  border-color: #828286;
}

.tablescroll {
  height: 200px;
  overflow: scroll;
}
/*
 * Header
 * max-width: 42em;
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
