{{template "header"}}


      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
          <div>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="../index.html">Home</a>
                <a class="nav-link fw-bold py-1 px-0" href="../Crew/crew.html">Crew</a>
                <a class="nav-link fw-bold py-1 px-0" href="../Chat/chat.html">Chat</a>
                <a class="nav-link fw-bold py-1 px-0 active" href="about.html">About</a>
            </nav>
          </div>
      </header>

      <div class="px-3 container d-inline-flex w-100 justify-content-center align-items-center" >
          <div class="p-2 justify-content-center align-items-center border display-container">
            <h4>Where am I?</h4>
            <p class="justify-content-center align-items-center">{{.Msg}}</p>
          </div>
      </div>

      {{template "footer"}}