{{template "header"}}


        <header class="mb-auto">
            <div>
              <nav class="nav nav-masthead justify-content-center float-md-end">
                  <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="../index.html">Home</a>
                  <a class="nav-link fw-bold py-1 px-0 active" href="#crew">Crew</a>
                  <a class="nav-link fw-bold py-1 px-0" href="../Chat/chat.html">Chat</a>
                  <a class="nav-link fw-bold py-1 px-0" href="../about/about.html">About</a>
              </nav>
            </div>
        </header>

          <div class="px-3 container d-inline-flex justify-content-center align-items-center" >
            <div class="d-flex flex-column p-2 justify-content-center align-items-center border rounded display-container h-30 w-75 window-width">
              <table class="table table-responsive d-flex flex-column table-display justify-content-center">
                  <thead class="column-width">
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Security Clearance</th>
                        <th scope="col">Position</th>
                      </tr>
                  </thead>
                  <tbody class="table-group-divider tablescroll align-items-center column-width">
                    {{range .}}
                    <tr>
                      <th scope="row">{{.ID}}</th>
                      <td>{{.Name}}</td>
                      <td>{{.SecClearance}}</td>
                      <td>{{.Position}}</td>
                    </tr>
                    {{end}}
                  </tbody>
              </table>
              <div class="text-center fs-6 fw-lighter fst-italic">...scroll to see more</div>
            </div>
          </div>
          
{{template "footer"}}