{{template "header"}}
    
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="../index.html">Home</a>
                        <a class="nav-link fw-bold py-1 px-0" href="../Crew/crew.html">Crew</a>
                        <a class="nav-link fw-bold py-1 px-0 active" href="chat.html">Chat</a>
                        <a class="nav-link fw-bold py-1 px-0" href="../about/about.html">About</a>
                    </nav>
                </div>
            </header>


            <div class="px-3 container d-inline-flex w-100 justify-content-center align-items-center" >
                <form class="display-container form-signin justify-content-center align-items-center" method="post" action="/Chat/">
                    <h1 class="h3 mb-3 fw-normal form-signin">Please sign in</h1>

                    <div class="form-floating">
                        <input type="text" id="input" class="form-control" name="username" placeholder="Username" required autofocus>
                        <label for="input">User</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                        <label for="inputPassword">Password</label>
                    </div>

                    <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="rememberme" value="true"> Remember me
                    </label>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        
{{template "footer"}}

